#area{

    width: 100px;
    height: 80px;
    font-size: 70px;
    border: black 2px solid;
    background-color: lightslategray;
    border-radius: 5px;
    
}
#text{
    width: 300px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
}
#add{
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}